.business-section-div{
    background-color: #282c34;
    color: black;
}
a{
color: #F6C5AF;
text-decoration: underline;
text-decoration-color: #DDF8E8;
}
#mainContent{
    background-color: #282c34;
    font-family: 'League Spartan';
    color: #E0607E;
}
.list-item{
color: black;
}
h2{
    color: #E0607E;
}
.card{
    width: 480px;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    display: -moz-inline-grid;
    grid-row: 1/7;
    grid-column: auto;
    justify-items: start;
    word-break: break-all;
    font-size: 16px;
    
}

.links-aside title{

position: absolute;
left:auto;
}


.Links-list{
    position: absolute;
    left:auto;
}

.article-title{
    font-size: 10px;
}

.article-description{
    font-size: 2rem;
    padding: 1em 2em 2em;
}