.list-item-techHeadlines{
    display: inline-block;
    display: flex;
    align-content: center;
    flex-direction: column;
    padding-left: 2%;
}
img{
    align-content: center;
    display: flex;
}
.techNews-name, .techNews-description{
    margin: 0;
    display:inline;
   
   }
.techNews-img{
    width: 60%
}