
*{
  background-color: #282c34;
}
ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  display:inline;
}
.App {  /* parent div */
  text-align: center;
  background-color: #282c34;
  display:flex;
  justify-content: space-around;
  list-style: none;
  width: 100%;
  height: 100%;

}






.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
 margin-left: 150px;
 
}






@media only screen
    and (min-device-width : 320px)
    and (max-device-width : 480px){ 
      main{display: inline;
      background-color: #282c34;}
  }

 /* div styles */

  /* Footer Styles */ 

  

  
  .hero-image{
    background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(117, 19, 93, 0.73)), url('../public/cityView.jpg');
    height: 100vh;
    width:100vw; /* This makes the hero image take up the full height of the viewport */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
    margin:0;
    padding:0;
  
  }
  
  .hero-title{
    font-size: 3rem;
    font-weight: bolder;
    margin-bottom: 20px;
     color: #282C34;
     background-color: #fff;
     
     
  }
  .hero-p{
    font-size: 1.5rem;
    margin-bottom: auto;
    
  }

  .btn-primary {
    background-color: #fff;
    color: #333;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
    

  }
  
  .btn-primary:hover {
    background-color: #333;
    color: #fff;
  }

  .aside-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* This makes the container take up the full height of the viewport */
  }

  body {
    display: flex;
    flex-direction: column;
    align-items: center;
}
main{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1200px;
}

.timeline {
  flex: 3;
  /* Styles for timeline */
}

@media (max-width: 768px) {
  main {
    flex-direction: column;
  }

  .timeline, aside {
    flex: none;
    width: 100%;
  }
}

aside {
  flex: 1;
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  height: 100%;
  
}
.app-footer {
  width: 100vw; 
  box-sizing: border-box; 
}
